<div class="inventariocel-card">
    <div class="listainventariocel">
        <p id="listainventariocel-titulo">{{capitalizar tipo}} {{capacidad}}</p>
        <p>Estado: {{nombrarEstado id_estado}}</p>
        <p>Lugar: {{lugar}}</p>
        <p>Obs: {{observacion}}</p>
    </div>
    <div class="cont-codigoqr-card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png" alt="" height="70px" width="70px">
    </div>
       
</div>
