{{#> layoutapp}}

<div class="app">
    
  <div class="header-app">
    <div class="header-app-info">
      {{#unless isMaster}}
      <p class="header-subtitle">{{cerveceria}}</p>
      <h4 class="header-title">Producción</h4>
      {{/unless}}
      {{#if isMaster}}
      <p class="header-subtitle">Admin</p>
      <h4 class="header-title">Producción</h4>
      {{/if}}
    </div>
    <div class="header-app-panel">
      <!-- MENU DROPDOWN DESKTOP -->
      <div class="dropdown dropdown-desk">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hola {{capitalizar nombre}}
          </button>
          <i class="fa-solid fa-user user-login user-login-desk" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          <ul class="dropdown-menu">
            {{#if isMaster}}
                <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
            {{/if}}
            {{#if isAdmin}}    
                <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
            {{/if}}
                <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>

      <!-- MENU DROPDOWN MOBILE -->
      <div class="dropdown dropdown-celu">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user user-login" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          </button>
          <ul class="dropdown-menu">
                {{#if isMaster}}
                  <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
              {{/if}}
              {{#if isAdmin}}    
                  <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                  <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
              {{/if}}
                  <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="body-app">
    <!-- MENU PRINCIPAL DESKTOP -->
    <div class="menu-desk">
        <a href="/app"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="/inventario"><i class="fa-solid fa-folder-tree fa-2xl optionselected"></i></a>
        <a href="/informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
        <i class="fa-solid fa-qrcode fa-2xl"></i>
    </div>
    <div class="body-container">
          
     <div class="form_wrapper card-info-pedido">
        <div class="form_container">
          <div class="title_container">
            <h3 style="color:white">Información Actual</h3>
            <h2>{{produccion.item.qr_code}}</h2>
            
            <div class="divisor-form"></div>
            <div class="card-subcont-edicion d-none">
                <div id="cont-labels">
                    <h2>Categoria:</h2>
                    <h2>Fecha:</h2>
                    <h2>Cliente:</h2>
                    <h2>Observación</h2>    
                </div>
                <div id="cont-valores">
                    <h2>{{produccion.categoria.descripcion}}</h2>
                    <h2>{{normfecha produccion.fecha}}</h2>
                    <h2>{{produccion.cliente.nombre_cliente}}</h2>
                    <h3>{{produccion.observacion}}</h3>   
                </div>    
            </div>  
            <h1 id="card-tit-estado">{{produccion.proceso.descripcion}}</h1>
            <button id="ver-mas-btn">+ Ver más</button>       
          </div>
        </div>
     </div>

     <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Editar Producción</h2>
            <div class="input_field select_option">
                <select name="iditem" form="ediprod" onchange="javascript:refs(this)" required>
                <option value="{{produccion.id_item}}">{{produccion.item.qr_code}}  {{produccion.categoria.descripcion}}</option>
                {{#each prodrest}}
                    <option value={{id_item}}>{{item.qr_code}} {{categoria.descripcion}}</option>
                {{/each}}
                </select>
                <div class="select_arrow"></div>
            </div>
            <div class="divisor-form"></div>
            <div class="card-subcont">
                <form id="ediprod" method="POST" action="/postedicionprod/{{produccion.id_produccion}}">
                    <div class="input_field select_option">
                      <select name="estado" required>
                        <option value="{{produccion.id_proceso}}"> Estado </option>
                        <option value='1'>Entregado</option>
                        <option value='2'>Reservado</option>
                        <option value='3'>Listo</option>
                        <option value='4'>En Proceso</option>
                        <option value='5'>Devuelto</option>
                      </select>
                      <div class="select_arrow"></div>
                    </div>

                    <div class="input_field select_option">
                      <select name="categoria" required>
                        <option value="{{produccion.id_categoria}}"> Categoria </option>
                        {{#each listacat}}
                        <option value={{id_categoria}}>{{descripcion}}</option>
                        {{/each}}
                      </select>
                      <div class="select_arrow"></div>
                    </div>

                    <div class="input_field select_option">
                      <select name="cliente" required>
                        <option value="{{produccion.id_cliente}}"> Cliente </option>
                        <option value="null"> Sin cliente </option>
                        {{#each listactes}}
                        <option value={{id_cliente}}>{{nombre_cliente}}</option>
                        {{/each}}
                      </select>
                      <div class="select_arrow"></div>
                    </div>

                    <div class="input_field"> <span><i class="fa-regular fa-clipboard"></i></span>
                        <input type="text" name="obs" placeholder="Observación(es)">
                        <input type="hidden" name="obs" placeholder="Observación(es)" value="{{produccion.observacion}}">
                    </div>

                </form>
                <div id="qr-container">
                    <div><h2>{{produccion.item.qr_code}}</h2></div>
                    <div id="qr-img"></div>
                    <div><button id="etiqueta-modal-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver Etiqueta</button></div>
                </div>
            </div> 
            <input class="button" form="ediprod" type="submit" value="Actualizar"/>         
          </div>
        </div>
     </div>

    </div>
  </div>



  <div class="appfooterspace">
      <div class="foot-menu" style="background-color: #1B232A;"></div>
      <div><p></p></div>
  </div>

  <!-- MENU PRINCIPAL MOBILE -->
  <div class="menu-celu">
      <a href="/app"><i class="fa-solid fa-house fa-2xl"></i></a>
      <a href="/inventario"><i class="fa-solid fa-folder-tree fa-2xl optionselected"></i></a>
      <a href="/informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
      <i class="fa-solid fa-qrcode fa-2xl"></i>
  </div>  
</div>

  <!-- ==========================MODAL QR LABEL================================ -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog3">
    <div class="modal-content modal-content3">
      <div class="label-body">
        <div class="img-modal-lbl">
          <img id="img-lbl" src="{{rutalogo}}" alt="">
        </div>
        <div id="qr-lbl" class=""></div>
      </div>
      <div id="footer-lbl">
        <h5>Barril monitoreado por <img src="../src/img/meetmykeg-logo2.png" height="24px" style="padding-left: 3px;"><img src="../src/img/qrx.png" alt="" height="24px"></h5>
      </div>
    </div>
  </div>
  <div id="cont-btn-imp"><button id="btn-imprimir">Imprimir</button></div>
</div>

<!-- GENERADOR DE QR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script>
    const contenedorQR = document.getElementById('qr-img');
    const contQRLabel = document.getElementById('qr-lbl');
    
    new QRCode(contenedorQR, {
        text: {{{codigoQR}}},
        width: 130,
        height: 130
    })

    new QRCode(contQRLabel, {
        text: {{{codigoQR}}},
        width: 130,
        height: 130
    })
</script>
<script>
    function refs(element){
        window.location.href=`/edicionprod/${element.value}`
    };
</script>

<script src="/src/js/main.js"></script>

<script>
  const btnImprimir = document.getElementById('btn-imprimir');
  btnImprimir.addEventListener('click', () => {
    print();
  })
</script>


{{#if confirmar}}
<script src="/sweetalert2.all.min.js"></script>
<script>
  confSucc();
</script>
{{/if}}

{{#if failed}}
<script src="/sweetalert2.all.min.js"></script>
<script>
  failAlert();
</script>
{{/if}}
{{/layoutapp}}





