{{#> layoutapp}}

<div class="app">
    
  <div class="header-app">
    <div class="header-app-info">
      {{#unless isMaster}}
      <p class="header-subtitle">{{cerveceria}}</p>
      <h4 class="header-title">Informes</h4>
      {{/unless}}
      {{#if isMaster}}
      <p class="header-subtitle">Admin</p>
      <h4 class="header-title">Informes</h4>
      {{/if}}
    </div>
    <div class="header-app-panel">
      <!-- MENU DROPDOWN DESKTOP -->
      <div class="dropdown dropdown-desk">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Hola {{capitalizar nombre}}
          </button>
          <i class="fa-solid fa-user user-login user-login-desk" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          <ul class="dropdown-menu">
              {{#if isMaster}}
                  <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
              {{/if}}
              {{#if isAdmin}}    
                  <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                  <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
              {{/if}}
                  <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>

      <!-- MENU DROPDOWN MOBILE -->
      <div class="dropdown dropdown-celu">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user user-login" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          </button>
          <ul class="dropdown-menu">
            {{#if isMaster}}
                <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
            {{/if}}
            {{#if isAdmin}}    
                <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
            {{/if}}
                <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="body-app">
    <!-- MENU PRINCIPAL DESKTOP -->
    <div class="menu-desk">
        <a href="app"><i class="fa-solid fa-house fa-2xl"></i></a>
        <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
        <a href="informe"><i class="fa-solid fa-chart-line fa-2xl optionselected"></i></a>
        <a href="scanitem"><i class="fa-solid fa-qrcode fa-2xl"></i></a>
    </div>
    
    <div class=".container cont-ext-graf">
      <div class="body-container-informe">
          <div class="cont-izq-graf">
              <div id="titulo-resum"><h2>Resumen de Estados</h2></div>
              <div class="graf-menu">
                <div class="grafmenu1"><div id="counter"><h1 id="count" data-target="{{graf1Values.[0]}}">0</h1><img id="icon-count" src="/src/img/kegiconcyan.png" alt=""></div>  <div id="counter"><h1 id="count" data-target="{{graf1Values.[1]}}">0</h1><img id="icon-count" src="/src/img/kegiconazul.png" alt=""></div></div>
                <div class="grafmenu2"><div id="counter"><h1 id="count" data-target="{{graf1Values.[2]}}">0</h1><img id="icon-count" src="/src/img/kegiconsalm.png" alt=""></div>  <div id="counter"><h1 id="count" data-target="{{graf1Values.[3]}}">0</h1><img id="icon-count" src="/src/img/kegicongray.png" alt=""></div></div>  
              </div>
              <div class="graf-resumen">
                <h2>Ultimos barriles modificados</h2>
                <table>
                  <thead>
                    <th>Código</th>
                    <th>Fecha</th>
                  </thead>
                  <tbody>
                    {{#each ultimUpd}}
                    <tr>
                      <td><b>{{qr_code}}</b></td>
                      <td>{{modificado}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
          </div>
          <div class="cont-grafico">
            <div class="graf-container">
              <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <canvas class="" id="myChart1"></canvas>
                  </div>
                  <div class="carousel-item">
                    <canvas class="" id="myChart2"></canvas>
                  </div>
                  <div class="carousel-item">
                    <canvas class="" id="myChart3"></canvas>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
                  
            </div>
          </div>
      </div>
    </div>


  </div>

  <div class="appfooterspace">
      <div class="foot-menu" style="background-color: #1B232A;"></div>
      <div><p></p></div>
  </div>

  <!-- MENU PRINCIPAL MOBILE -->
  <div class="menu-celu">
      <a href="app"><i class="fa-solid fa-house fa-2xl"></i></a>
      <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
      <a href="informe"><i class="fa-solid fa-chart-line fa-2xl optionselected"></i></a>
      <a href="scanitem"><i class="fa-solid fa-qrcode fa-2xl"></i></a>
  </div>  
</div>

<script>
  Chart.defaults.font.size = 20;
  Chart.defaults.font.weight = 'bold';
  Chart.defaults.plugins.legend.position = 'bottom';
  Chart.defaults.plugins.legend.labels.boxWidth = 20
  Chart.defaults.plugins.legend.labels.padding = 40
  const ctx = document.getElementById('myChart1').getContext("2d");
  const ctx2 = document.getElementById('myChart2').getContext("2d");
  const ctx3 = document.getElementById('myChart3').getContext("2d");
  
  new Chart(ctx, {
        type: "doughnut",
        
        data: {
          labels: [{{{graf1Labels}}}],
          datasets: [{
            label: 'Barriles',
            data: [{{{graf1Values}}}],
            backgroundColor: ["#00a9ce", "#053C5E", "#ff4444", "#8f8389"],
            borderWidth: 0.5,
          }],
          options: [{
            plugins: {
              title: {
                display: true,
                text: 'Barriles',
                position: 'top'
              }
            }
          }]
        } 
    });


    new Chart(ctx2, {
        type: "line",
        
        data: {
          labels: [{{{graf1Labels}}}],
          datasets: [{
            label: 'Barriles',
            data: [{{{graf1Values}}}],
            backgroundColor: ["#00a9ce", "#053C5E", "#ff4444", "#8f8389"],
            borderWidth: 0.5,
          }],
          options: [{
            plugins: {
              title: {
                display: true,
                text: 'Barriles',
                position: 'top'
              }
            }
          }]
        }
    });


    new Chart(ctx3, {
        type: "bar",
        
        data: {
          labels: [{{{graf1Labels}}}],
          datasets: [{
            label: 'Barriles',
            data: [{{{graf1Values}}}],
            backgroundColor: ["#00a9ce", "#053C5E", "#ff4444", "#8f8389"],
            borderWidth: 0.5,
          }],
          options: [{
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }]
        }
    });
  
</script>
<script src="src/js/main.js"></script>
<script>
  let list = document.querySelectorAll('#count');
    console.log(list)
    list.forEach(function(e){
      itCuenta(e)
    })
</script>

{{/layoutapp}}