{{#> layoutapp}}

<div class="app">
    
  <div class="header-app">
    <div class="header-app-info">
      {{#unless isMaster}}
      <p class="header-subtitle">{{cerveceria}}</p>
      <h4 class="header-title">Dashboard</h4>
      {{/unless}}
      {{#if isMaster}}
      <p class="header-subtitle">Admin</p>
      <h4 class="header-title">Dashboard</h4>
      {{/if}}
    </div>
    <div class="header-app-panel">
      <!-- MENU DROPDOWN DESKTOP -->
      <div class="dropdown dropdown-desk">
            <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hola {{capitalizar nombre}}
            </button>
            <i class="fa-solid fa-user user-login user-login-desk" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
            <ul class="dropdown-menu">
                {{#if isMaster}}
                    <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
                {{/if}}
                {{#if isAdmin}}    
                    <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                    <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
                {{/if}}
                    <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
            </ul>
      </div>

      <!-- MENU DROPDOWN MOBILE -->
      <div class="dropdown dropdown-celu">
          <button class="btn btn-secondary dropdown-toggle log-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user user-login" style="font-size: 20px; letter-spacing: 0.3vw; color:white"></i>
          </button>
          <ul class="dropdown-menu">
                {{#if isMaster}}
                  <li><a class="dropdown-item" href="/regicerv">Registrar Cervecería</a></li>
              {{/if}}
              {{#if isAdmin}}    
                  <li><a class="dropdown-item" href="/register">Registrar Usuario</a></li>
                  <li><a class="dropdown-item" href="/regicat">Registrar Categoría</a></li>
              {{/if}}
                  <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="body-app">
    <!-- MENU PRINCIPAL DESKTOP -->
    <div class="menu-desk">
        <a href="app"><i class="fa-solid fa-house fa-2xl optionselected"></i></a>
        <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
        <a href="informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
        <a href="scanitem"><i class="fa-solid fa-qrcode fa-2xl"></i></a>
    </div>
    <div class="body-container">
          
      <div class="form_wrapper">
        <div class="form_container">
          <div class="title_container">
            <h2>Nuevo Cliente</h2>
          </div>
          <div class="row clearfix">
            <div class="">
              <form id="form-cat" method="POST" action="/nvocte">
                <div class="input_field"> <span><i class="fa-solid fa-shop"></i></span>
                  <input type="text" name="nombre" placeholder="Nombre del Cliente" required />
                </div>
                <div class="input_field"> <span><i aria-hidden="true" class="fa-solid fa-location-dot"></i></span>
                  <input type="text" name="direccion" placeholder="Direccion" required />
                </div>
                <div class="input_field"> <span><i aria-hidden="true" class="fa-solid fa-map-location-dot"></i></span>
                  <input type="text" name="comuna" placeholder="Comuna" required />
                </div>
                    {{#if error}}
                      <div style="text-align: center; margin-bottom: 15px"><span id="mensaje-login">{{error}}</span></div>
                    {{/if}}
                <input class="button" type="submit" value="Registrar" />
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="form_wrapper cont-eliminar">
        <div class="form_container">
          <div class="title_container">
            <h2>Eliminar Cliente</h2>
            <form id="form-cte-del" method="POST" action="/delcte">
              <div class="input_field select_option">
                <select name="ctelist" required>
                  <option value="">Seleccione una categoria</option>
                  {{#each ctelist}}
                  <option value={{id_cliente}}>{{nombre_cliente}}</option>
                  {{/each}}
                </select>
                <div class="select_arrow"></div>
              </div>
              <input class="button btn-eliminar" type="submit" value="Eliminar" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="appfooterspace">
      <div class="foot-menu" style="background-color: #1B232A;"></div>
      <div><p></p></div>
  </div>

  <!-- MENU PRINCIPAL MOBILE -->
  <div class="menu-celu">
      <a href="app"><i class="fa-solid fa-house fa-2xl optionselected"></i></a>
      <a href="inventario"><i class="fa-solid fa-folder-tree fa-2xl"></i></a>
      <a href="informe"><i class="fa-solid fa-chart-line fa-2xl"></i></a>
      <a href="scanitem"><i class="fa-solid fa-qrcode fa-2xl"></i></a>
  </div>  
</div>

<script src="src/js/main.js"></script>
<script src="sweetalert2.all.min.js"></script>
<script>
  let formdel = document.getElementById('form-cte-del');
  formdel.addEventListener('submit', e => {
      e.preventDefault();
      confDel(formdel);
  })
</script>

{{#if confirmar}}
<script>
  confSucc();
</script>
{{/if}}

{{#if failed}}
<script>
  failAlert();
</script>
{{/if}}
{{/layoutapp}}